{% extends 'Admin_Dashboard/Dashboard_Base.html' %}
{% block AdminDashboard %}
{% load static %}
<div class="wrapper">
    <div class="main">


        <main class="content">
            <div class="container-fluid p-0">
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle">Add Department</h1>
                </div>

                <form action="{% url 'nadd-department' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Department Name</h5>
                                </div>
                                <div class="card-body">
                                    <input type="text" class="form-control" placeholder="Department" name="department"
                                        id="department" />
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <div class="mb-3">
                                    <input type="submit" class="btn btn-primary" value="ADD DEPARTMENT" />
                                </div>

                            </div>
                        </form>
                        </div>

                        <div class="col-12 col-lg-6">
                            {% if obj %}
                            <h3>Existings departments</h3> <br>
                            {% for o in obj %}
                            <h1 class="h3 d-inline align-middle">{{o.dept}}</h1>
                            <form action="{% url 'ndelete-department' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="dept" value="{{o.dept}}">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                            {% endfor %}
                            {% else %}
                            <h4>You havent added any departments yet.</h4>
                            {% endif %}
                        </div>



                

            </div>
        </main>


    </div>
</div>

<script src="js/app.js"></script>
{% endblock AdminDashboard %}