<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'messages.html' %}
    <h2>Dashboard of admin {{request.user.username}}</h2>
    <form action="{% url 'nadd-employee' %}" method="GET">
        <input type="submit" value="Add employee"/>
    </form>

    <form action="{% url 'nsettings' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Settings"/>
    </form>
    <form action="{% url 'nlogout' %}" method="POST">
        {% csrf_token %}
        <input
          class="text text-capitalize"
          type="submit"
          value="Sign Out"
        />
    </form>
</body>
</html>