<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'messages.html' %}
    {% if obj %}
    <h3>Existings departments</h3>
    {% for o in obj %}
    {{o.dept}}  
    <form action="{% url 'ndelete-department' %}" method="POST"> 
        {% csrf_token %}
        <input type="hidden" name="dept" value="{{o.dept}}">
        <input type="submit" value="Delete Department">
    </form>
    
    {% endfor %}
    {% else %}
    <h4>You havent added any departments yet.</h4>
    {% endif %}

    <h3>Add Departmeent</h3>
    <form action="{% url 'nadd-department' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="department" id="department" placeholder="Department">
        <input type="submit" value="Add Department">
    </form>
</body>
</html>