{% extends 'Admin_Dashboard/Dashboard_Base.html' %}
{% block AdminDashboard %}
{% load static %}
<div class="wrapper">
    <div class="main">


        <main class="content">
            <div class="container-fluid p-0">
                {% if emp %}
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle">Below are your Employees</h1>
                </div>

                
               
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            {% for e in emp %}
                            <br>
                            <div class="card-header">
                                <h5 class="card-title mb-0">
                                    <form action="{% url 'view_employee_tasks' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="employee"value="{{e.username}}">
                                        <input type="submit" class="btn btn-primary"value="{{e.username}}">
                                    
                                    </form>
                                </h5>
                            </div>
                            
                            {% endfor %}
                          
                        </div>
                </div>

                        



                
                
                {% else %}
                <div class="mb-3">
                    <h1 class="h3 d-inline align-middle">You haven't added any Employees yet</h1>
                </div>
                {% endif %}

            </div>
        </main>


    </div>
</div>


{% endblock AdminDashboard %}