{% extends 'Employee_Dashboard/dashboard_base.html' %}
{% block EmployeeDashboard %}
{% load static %}

<div class="wrapper">
    <div class="main">
        <main class="content">
            <div class="container-fluid p-0">

                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div style="width:350px">
                                <canvas id="myChartFilter" width="400" height="400"></canvas>
                            </div>
                            
                        </div>
                        <div style="height:90px"></div>

                        





                    </div>
                </div>








            </div>
        </main>


    </div>
</div>

<script src="{% static 'js/ViewFilterTasks.js' %}"></script>


{% endblock EmployeeDashboard %}